// 576px, 768px, 992px, 1200px, 1400px
$breakpoints-up: (
  'small': '36em',
	'medium': '48em',
	'large': '62em',
	'xlarge': '75em',
	'xxlarge': '87.5em'
);

// 575px, 767px, 991px, 1199px, 1399px
$breakpoints-down: (
	'small': '35.9375em',
	'medium': '47.9375em',
	'large': '61.9375em',
	'xlarge': '75.9375em',
	'xxlarge': '87.4375em'
);

$spacer: 1rem;

$spacer: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
);

$theme-fonts: (
	100: 'Thin',
	200: 'ExtraLight',
	300: 'Light',
	400: 'Regular',
	500: 'Medium',
	600: 'SemiBold',
	700: 'Bold',
	800: 'ExtraBold',
	900: 'Black'
);