@use '../abstratcs/' as *;

:root {
	--body-bg: var(--white);
	--body-bg-secondary: var(--zircon);
	--color-primary: var(--comet);
	--color-secondary: var(--charade);
	--toggle-bg-start: var(--pictonBlue);
	--toggle-bg-end: var(--screaminGreen);
	--toggle-bg: var(--cadetBlue);
	--card-bg: var(--whiteLilac);
	--card-bg-hover: var(--snuff);
	--instagram: linear-gradient(225deg, var(--cerise),var(--apricot) 50.91%,var(--koromiko) 100%);

	@each $key, $value in $colors {
		--#{$key}: #{$value};
	}	

	@each $key, $value in $theme-fonts {
		--font-#{$value}: 'Inter-#{$value}';
	}	
}