@use '../abstratcs/' as *;

.header{
  padding-top: rem(40);
  margin-bottom: rem(40);
  @include breakpoint('large'){
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(45);
  }
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: var(--body-bg-secondary);
    width: 100%;   
    height: 100%;
    z-index: -1;
    max-height: 235px;
    border-bottom-left-radius: rem(25);
    border-bottom-right-radius: rem(25);
    transition: all .5s ease-in;
    @include breakpoint('large'){
      max-height: 245px;
    }
  }

  &__title{    
    border-bottom: 1px solid var(--color-primary);
    padding-bottom: rem(25);
    margin-bottom: rem(15);
    @include breakpoint('large'){
      border-bottom: 0;
      padding: 0;
      margin-bottom: 0;
    }
  }
  &__info{
    display: flex;
    font-family: var(--font-Bold);
    font-size: rem(14);
    dd{
      margin-left: rem(5);
    }
  }
  
}